<app-navbar></app-navbar>

<!-- Este container es sobre descripción de nuestros apartamentos -->
<div class="container-1">

    <div class="titulo">
        <h1 class="titulo-1">
            Descubre el Futuro de la Vivienda con FUNDACIÓN HERSD
        </h1>
    </div>

    <div class="texto">
        <p class="claro">
            Queridos Clientes <br> <br>
            En <strong>FUNDACIÓN HERSD</strong>, estamos emocionados de presentarles un nuevo estándar en la vida moderna:apartamentos que son más que un simple espacio, son una experiencia. Nos enorgullese ser pioneros en la creación de hogares que reflejan la visión del futuro. <br>
        </p>
    </div>

    <div class="texto">
        <h4 class="sub">Innovación Redefinida:</h4>
        <p class="claro">Nuestros apartamentos no son solo estructuras; son testimonios de innovación y diseño vanguardista. Desde las comodidades modernas hasta la eficiencia energética, cada detalle está cuidadosamente diseñado para brindarte una experiencia de vida inigualable.</p>
    </div>

    <div class="texto">
        <h4 class="sub">Precio Competitivo, Valor Inigualable:</h4>
        <p class="claro">En Fundación HERSD, creemos que la excelencia no debería romper el banco. Nos comprometemos a ofrecer los mejores precios en el mercado sin comprometer la calidad. Tu hogar de ensueño ahora es más accesible que nunca.</p>
    </div>

    <div class="texto">
        <h4 class="sub">Lo que nos hace Únicos:</h4>
        <ul>
            <li>Espacios Versátiles: Adaptados a tu estilo de vida, nuestros apartamentos ofrecen espacios versátiles que se ajustan a tus necesidades cambiantes.</li>
            <li>Tecnología Integrada: Desde sistemas de seguridad avanzados hasta opciones inteligentes, estamos a la vanguardia de la tecnología para hacer tu vida más cómoda y segura.</li>
            <li>Compromiso con la Sostenibilidad: No solo construimos para hoy, sino también para el mañana. Nuestros proyectos están diseñados con un enfoque sostenible para preservar nuestro precioso planeta.</li>
        </ul>
    </div>

    <div class="texto">
        <h4 class="sub">Únete a la Revolución HERSD:</h4>
        <p class="claro">Es más que un hogar; es una declaración de estilo de vida. Únete a la revolución HERSD y descubre un nuevo mundo de comodidad, innovación y asequibilidad. <br><br>

            Tu futuro hogar te espera en FUNDACIÓN HERSD. ¿Estás listo para dar el siguiente paso?<br><br>
            
            Con emoción y visión hacia el futuro <br>
            ¡El Equipo de FUNDACIÓN HERSD!</p>
    </div>
    </div>

<!-- Este container contiene todos nuestros apartamentos -->

<div>
    <h3 class="titl-apa">APARTAMENTOS</h3>
    <h1 class="titl-ap">EN VENTA</h1>
</div>

<div class="container-2">
    <div class="card">
        
        <a routerLink="/forms"><img src="/assets/casa-1.webp" alt="" class="apart"></a>
        <a routerLink="/forms" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">

        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>


<div class="container-2">
    <div class="card">
        <a routerLink="/forms"><img src="/assets/casa-1.webp" alt="" class="apart"></a>
        <a routerLink="/forms" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>


<div class="container-2">
    <div class="card">
        <a routerLink="/forms"><img src="/assets/casa-1.webp" alt="" class="apart"></a>
        <a routerLink="/forms" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>


<div class="container-2">
    <div class="card">
        <a routerLink="/forms"><img src="/assets/casa-1.webp" alt="" class="apart"></a>
        <a routerLink="/forms" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>

<div class="container-2">
    <div class="card">
        
        <a routerLink="/forms"><img src="/assets/casa-1.webp" alt="" class="apart"></a>
        <a routerLink="/forms" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">

        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>


<div class="container-2">
    <div class="card">
        <a routerLink="/forms"><img src="/assets/casa-1.webp" alt="" class="apart"></a>
        <a routerLink="/forms" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>


<div class="container-2">
    <div class="card">
        <a routerLink="/forms"><img src="/assets/casa-1.webp" alt="" class="apart"></a>
        <a routerLink="/forms" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>


<div class="container-2">
    <div class="card">
        <a routerLink="/forms"><img src="/assets/casa-1.webp" alt="" class="apart"></a>
        <a routerLink="/forms" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>
