* {
    margin: 0%;
    padding: 0%;
}

.container-5 {
    background: rgb(70, 60, 244);
    background: linear-gradient(90deg, rgba(70, 60, 244, 1) 0%, rgba(0, 212, 255, 1) 50%, rgba(70, 60, 244, 1) 99%);
    margin-top: -45px;
    height: 300px;
}
.titl-contac {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    color: white;
}
.llamar-1{
    display: flex;
    margin-top: 30px;
    margin-left: 14%;
    color: white;
    text-align: center;
}
.llamar-2{
    display: flex;
    margin-top: 5px;
    margin-left: 14%;
    color: white;
    text-align: center;
}
.llamar-3{
    display: flex;
    margin-top: 5px;
    margin-left: 14%;
    color: white;
    text-align: center;
}
.ubicacion {
    display: flex;
    margin-top: -40px;
    margin-left: 46%;
    color: white;
    text-align: center;
}
.email {
    display: flex;
    margin-top: -30px;
    margin-left: 79%;
    color: white;
    text-align: center;
}

.ubicacion-1 {
    display: flex;
    margin-top: -50px;
    margin-left: 46%;
    color: white;
}
.ubicacion-2 {
    display: flex;
    margin-left: 46%;
    color: white;
    margin-top: 5px;
}
.email-1 {
    display: flex;
    margin-top: -50px;
    margin-left: 79%;
    color: white;
}
.email-2 {
    display: flex;
    margin-top: 5px;
    margin-left: 79%;
    color: white;
}
.hersd{
    text-decoration: none;
    margin-left: 32%;
    font-size: 500%;
    color: white;
    margin-top: -20%;
}

