<app-navbar></app-navbar>

<div class="container">
        
    <div class="hist">
        <h1 class="title">Historia de Fundación Hersd</h1>
        <p class="text">Hace unos años, en el vibrante año 2020, dos visionarios emprendedores, Hermer Monsalve y Estefanía Correa, esposos unidos por el amor y la ambición, unieron sus pasiones y habilidades para crear algo verdaderamente especial: Fundación Hersd.</p>
    </div>

    <div class="vis-mis">
        <h3 class="sub">MISIÓN</h3>
        <p class="text">En Fundación HERSD, nos dedicamos apasionadamente a ofrecer a nuestros clientes la llave de sus sueños inmobiliarios. Nos esforzamos por brindar un servicio integral y de calidad, facilitando la adquisición de propiedades que se alineen perfectamente con las aspiraciones y necesidades únicas de cada individuo. Nuestra misión es ser la puerta hacia un hogar ideal, superando expectativas y construyendo relaciones duraderas.</p>
        <h3 class="sub">VISIÓN</h3>
        <p class="text">En Fundación HERSD, visualizamos un futuro donde cada persona encuentre el espacio perfecto para construir sus memorias, alcanzar sus metas y llamar hogar. Aspiramos a ser líderes en la industria inmobiliaria, reconocidos por nuestro compromiso con la excelencia, la innovación y la satisfacción del cliente. Buscamos expandir nuestro impacto, construyendo comunidades prósperas y siendo la opción preferida para aquellos que buscan realizar sus sueños de propiedad.</p>
    </div>


</div>