<app-navbar></app-navbar>


<div class="container-1">
    <img src="/assets/principal.webp" alt="" class="img-pr">
    <h1 class="title-1">CONSTRUYENDO</h1>
    <h3 class="title-2">TUS SUEÑOS</h3>
    <h4 routerLink="/apartaments" class="button">EXPLORAR</h4>
</div>

<div class="container-2">
    <h3 class="title-3">¿ QUÉ ESTÁS BUSCANDO ?</h3>
    <a routerLink="/comp_vend"><img src="/assets/comprar.webp" alt="" class="comprar"></a>
    <a routerLink="/comp_vend"><img src="/assets/vender.webp" alt="" class="comprar"></a>
    <h3 class="titl-com">COMPRAR</h3>
    <h3 class="titl-ven">VENDER</h3>
</div>


<div>
    <h3 class="titl-apa">APARTAMENTOS</h3>
    <h1 class="titl-ap">EN VENTA</h1>
</div>

<div class="container-3">
    <div class="card">
        
        <a routerLink="/comp_vend"><img src="/assets/casa-1.webp" alt="" class="apart"></a>
        <a routerLink="/comp_vend" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">

        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>


<div class="container-3">
    <div class="card">
        <a routerLink="/comp_vend"><img src="/assets/casa-1.webp" alt="" class="apart"></a>
        <a routerLink="/comp_vend" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>


<div class="container-3">
    <div class="card">
        <a routerLink="/comp_vend"><img src="/assets/casa-1.webp" alt="" class="apart"></a>
        <a routerLink="/comp_vend" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>


<div class="container-3">
    <div class="card">
        <a routerLink="/comp_vend"><img src="/assets/casa-1.webp" alt="" class="apart"></a>
        <a routerLink="/comp_vend" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>

<div>
    <a routerLink="/apartaments" class="button">Ver más</a>
</div>
<div class="horizontal-line-1"></div>

<div>
    <h3 class="titl-fin">Fincas</h3>
    <h1 class="titl-fi">EN VENTA</h1>
</div>

<div class="container-4">
    <div class="card">
        <a href="#"><img src="/assets/casa-2.webp" alt="" class="apart"></a>
        <a href="#" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>
<div class="container-4">
    <div class="card">
        <a href="#"><img src="/assets/casa-2.webp" alt="" class="apart"></a>
        <a href="#" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>

<div class="container-4">
    <div class="card">
        <a href="#"><img src="/assets/casa-2.webp" alt="" class="apart"></a>
        <a href="#" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>

<div class="container-4">
    <div class="card">
        <a href="#"><img src="/assets/casa-2.webp" alt="" class="apart"></a>
        <a href="#" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>


<div>
    <a href="#" class="button">Ver más</a>
</div>
<div class="horizontal-line-1"></div>

<div>
    <h3 class="titl-fin">Bodegas</h3>
    <h1 class="titl-fi">EN VENTA</h1>
</div>

<div class="container-4">
    <div class="card">
        <a href="#"><img src="/assets/bodega.jpg" alt="" class="apart"></a>
        <a href="#" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>

<div class="container-4">
    <div class="card">
        <a href="#"><img src="/assets/bodega.jpg" alt="" class="apart"></a>
        <a href="#" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>

<div class="container-4">
    <div class="card">
        <a href="#"><img src="/assets/bodega.jpg" alt="" class="apart"></a>
        <a href="#" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>

<div class="container-4">
    <div class="card">
        <a href="#"><img src="/assets/bodega.jpg" alt="" class="apart"></a>
        <a href="#" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>


<div>
    <a href="#" class="button">Ver más</a>
</div>
<div class="horizontal-line-1"></div>

<div>
    <h3 class="titl-fin">Locales</h3>
    <h1 class="titl-fi">EN VENTA</h1>
</div>

<div class="container-4">
    <div class="card">
        <a href="#"><img src="/assets/locales.jpg" alt="" class="apart"></a>
        <a href="#" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>


<div class="container-4">
    <div class="card">
        <a href="#"><img src="/assets/locales.jpg" alt="" class="apart"></a>
        <a href="#" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>


<div class="container-4">
    <div class="card">
        <a href="#"><img src="/assets/locales.jpg" alt="" class="apart"></a>
        <a href="#" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>


<div class="container-4">
    <div class="card">
        <a href="#"><img src="/assets/locales.jpg" alt="" class="apart"></a>
        <a href="#" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>

<div>
    <a href="#" class="button">Ver más</a>
</div>
<div class="horizontal-line-1"></div>

<div>
    <h3 class="titl-fin">Lotes</h3>
    <h1 class="titl-fi">EN VENTA</h1>
</div>

<div class="container-4">
    <div class="card">
        <a href="#"><img src="/assets/lotes.png" alt="" class="apart"></a>
        <a href="#" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>

<div class="container-4">
    <div class="card">
        <a href="#"><img src="/assets/lotes.png" alt="" class="apart"></a>
        <a href="#" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>

<div class="container-4">
    <div class="card">
        <a href="#"><img src="/assets/lotes.png" alt="" class="apart"></a>
        <a href="#" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>

<div class="container-4">
    <div class="card">
        <a href="#"><img src="/assets/lotes.png" alt="" class="apart"></a>
        <a href="#" class="ap-com">COMPRAR</a>
        <h1 class="nom-apa">Ramón Corona 2748</h1>
        <p class="ubi">Itagui,Ant,Col</p>
        <h3 class="valor">$17,000,000</h3>
        <div class="horizontal-line"></div>
        <img src="/assets/cama.png" alt="" class="desc">
        <img src="/assets/bano.png" alt="" class="desc">
        <img src="/assets/capas.png" alt="" class="desc">
        <img src="/assets/metro-cuadrado.png" alt="" class="desc">
        <div>
            <p class="desc-ap">Habitaciones</p>
            <p class="desc-ap">Baños</p>
            <p class="desc-ap">Níveles</p>
            <p class="desc-ap">Mt2</p>
        </div>

        <div>
            <h3 class="num-ap">4</h3>
            <h3 class="num-ap">2</h3>
            <h3 class="num-ap">3</h3>
            <h3 class="num-ap">1234</h3>
        </div>

    </div>
</div>

<div>
    <a href="#" class="button">Ver más</a>
</div>
<div class="horizontal-line-1"></div>
<app-footer></app-footer>